.background-Image {
    background-image: url('../../img/Background\ Teste.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    min-height: 100vh;
}
.App-Main {
    background-color: ghostwhite;
    min-height: 50vh;
    padding: 3.75em;
    border-radius: 11px;
    margin: auto;
}
.lado{
    display: flex;
    flex-direction: row;
}
.Entrar{
    text-decoration: none;
    margin-top: 10px;
    letter-spacing: 0.02em;
    color: ghostwhite;
    background-color: #16C433;
    text-align: center;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 5.9px;
    width: 50%;
}
.Voltar{
    text-decoration: none;
    margin-left: 10px;
    margin-top: 10px;
    letter-spacing: 0.02em;
    color: black;
    background-color: ghostwhite;
    text-align: center;
    border: 1px solid gainsboro;
    border-radius: 6px;
    cursor: pointer;
    padding: 5.9px;
    width: 50%;
}
#rodape{
    cursor: pointer;
    font-size: 1em;
    text-align: center;
}
.rodape{
    text-decoration: none;
    margin-top: 30px;
    color: black;
    opacity: 100%;
}
.Entrar :hover{
    background-color: #16C433;
}
.p-10 {
    padding: 2.5rem !important;
    padding-bottom: 2.5rem;
}

.coluna {
    display: flex;
    flex-direction: column;
    max-width: 35%;
}